<section class="container">
  <article class="grid">
    <div>
      <h2>Sign Up Today!</h2>
      <a href="/signup"><button>Get Started</button></a>
    </div>

    <div>
      <h2>Already have an account?</h2>
      <a href="/signin"><button>Sign In</button></a>
    </div>
  </article>
</section>
